<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Mi Web con DB</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <main class="container">
    <h1>Usuarios</h1>

    <section class="card">
      <h2>Agregar usuario</h2>
      <form id="form">
        <label>Nombre</label>
        <input id="nombre" placeholder="Ej: Cristian" required>

        <label>Email</label>
        <input id="email" type="email" placeholder="Ej: cristian@mail.com" required>

        <button type="submit">Guardar</button>
        <p id="msg" class="msg"></p>
      </form>
    </section>

    <section class="card">
      <h2>Listado</h2>
      <div id="lista" class="lista"></div>
    </section>
  </main>

  <script src="/static/app.js"></script>
</body>
</html>
